.citacao {
	background-color: #D9E5E6;
	border:  .5em solid #CCEEFA;
	margin: 1em 2em;
	width: 30ch;
	box-sizing: border-box;
	padding: 1em;
	transition: box-shadow 1s, transform 1s;
	transition-delay: 0s, .4s;
}

.citacao:hover,
.citacao:focus {
	transition-delay: 0s, .4s;
}

.citacao:nth-of-type(odd) {
	float: right;
	margin-right: 0;
}

.citacao:nth-of-type(even) {
	float: left;
	margin-left: 0;
}

.citacao:nth-of-type(odd):hover,
.citacao:nth-of-type(odd):focus {
	box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.8);
	z-index: 9999;
	transform: rotate(5deg) scale(1.2);
}

.citacao:nth-of-type(even):hover,
.citacao:nth-of-type(even):focus {
	box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.8);
	z-index: 9999;
	transform: rotate(-5deg) scale(1.2);
}
.conteudo > p::first-letter{
	font-size: 200%;
	color: #3C1D3D;
	font-weight: bold;
	text-shadow: 1px 1px black;
	line-height: 1;
	margin-left: .2ch;
}

.citacao > p {
	position: relative;
}

.citacao::before{
	content: '“';
	font-size: 10em;
	color: #bbb;
	position: absolute;
	line-height: .8;
}

th {
	font-weight: bold;
	color: white;
}

.habilidades {
	border-collapse: separate;
	border-spacing: 0.25em;
	margin: 1em 0;
}

.habilidades thead th {
	background-color: #3C1D3D;
}

.habilidades tbody th {
	background-color: #851944;

}

.habilidades td {
	background-color: #EEE;
}

.habilidades th,
.habilidades td {
	padding: 1em;
	text-align: center;
}

.habilidades [colspan] {
	font-style: italic;
	vertical-align: center;
}

.habilidades [rowspan]{
	vertical-align: middle;
}