.portfolio li {
	border: 8px solid black;
	padding: 1em;
	margin-bottom: 16px;
	margin-right: 16px;
	width: 45%;
	box-sizing: border-box;
	background-color: #FAFFFC;
}

.portfolio img {
	width: 95%;
	height: 180px;
	box-shadow: 0 0 4px #000;
}

.flex-portfolio {
	flex-wrap: wrap;
}

.flex-portfolio li{
	flex: 1 1 45%;

}

.portfolio li:first-child {
	flex-basis: 100%;
}